/* Subscription Plans */

.subscription {
    background: url("../images/background-movies-series.png") no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .subscriptionPlans {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin: 40px 0;
    perspective: 2000px;
    perspective-origin: top;
  }
  
  .subscriptionCard {
    background: var(--card-bg-color);
    padding: 40px 60px;
    border-radius: 8px;
    display: flex;
    min-height: 600px;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 1s ease-in-out;
  }
  
  .subscriptionPlans:has(.subscriptionCard:nth-child(1):hover)
    .subscriptionCard:nth-child(2) {
    transform: rotateY(-45deg);
  }
  
  .subscriptionPlans:has(.subscriptionCard:nth-child(2):hover)
    .subscriptionCard:nth-child(1) {
    transform: rotateY(45deg);
  }
  
  .subscriptionDescription {
    text-align: left;
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 14px;
    padding-left: 14px;
  }
  
  .subscriptionPrice{
    font-size: 2rem;
    font-family: 'Releway', sans-serif;
    color: var(--secondary-color);
    font-weight: bold;
  }
  
  .subscriptionPrice .textsmall {
    color: var(--text-color);
  }
  
  .subscriptionPlan{
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 16px;
  }

  .textsmall {
    max-width: 300px;
    text-align: center;
  }

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
    text-align: center;
  }

  .button {
    background-color: var(--tertiary-color);
    border-radius: 500px;
    padding: 16px 40px;
    cursor: pointer;
    color: var(--text-color);
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    text-decoration: none;
  }

  .button:hover{

    background-color: var(--secondary-color);
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
    transition: 0.5s;
  
  }

  /* .contents {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
    text-align: center;
  } */
  

  .title {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .contentsContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 40px;
    /* grid-row: auto;
    justify-content: center;
    align-items: center; */
    
  }
  
  .contentsCard{
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid transparent;
    background-position: center;
    transition: 0.8s, background 0.8s, border 1s;
  }

  .contentsCard:hover{
    transform: scale(1.0);
    border: 2px solid var(--tertiary-color);
  }
  
  .contentsCard:hover .contentsImage{
    opacity: 0;
  }
  
  .contentsImage{
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 2s;
  }
  
  .contentsCard:nth-child(1):hover{
    background-image: url("/hbo-react/src/assets/images/CN-Hover.png");
  }
  
  .contentsCard:nth-child(2):hover{
    background-image: url("/hbo-react/src/assets/images/MAX-Hover.webp");
  }

  .contentsCard:nth-child(3):hover{
    background-image: url("/hbo-react/src/assets/images/DC-Hover.webp");
  }
  
  .contentsCard:nth-child(4):hover{
    background-image: url("/hbo-react/src/assets/images/WB-Hover.webp");
  }
  
  .contentsCard:nth-child(5):hover{
    background-image: url("/hbo-react/src/assets/images/CN-Hover.png");
  }
  
  .contentsCard:nth-child(6):hover{
    background-image: url("/hbo-react/src/assets/images/UCL-Hover.webp");
  }